<!doctype html>
<html lang="en">

<head>
    {% block head %} {% endblock  %}
</head>
<header>
    <div class="wrapper">
        <header>
            <div class="top-bar">
                <span class="nav" onclick="openNav()">&#x2b;</span>
                <div class="movie-logo">
                    <a class="logo" href="/" style="cursor: auto">
                        <img src="../static/movie.png" alt="moviereview" />
                    </a>
                </div>
                <div class="login">
                    {% if(isLoggedIn) %} {% set checkLogin = "로그아웃"%} {% else %} {% set
                    checkLogin = "로그인"%} {% endif %}
                    <a href="/login" id="checkLoggedIn">{{checkLogin}}</a>
                </div>
                {% if(not isLoggedIn) %}
                <div class="join">
                    <a href="/signup">회원가입</a>
                </div>
                {% endif %}
                {% if(isLoggedIn) %}
                <div class="join">
                    <a href="/mypage/{{userAccount}}">마이페이지</a>
                </div>
                {% endif%}
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/romence">로맨스</a>
                    <a href="/action">액션</a>
                    <a href="/ani">애니</a>
                    <a href="/thriller">스릴러</a>
                </div>
            </div>
        </header>
        <!-- End of Header -->

        <!-- Main Container -->

        <body>
            {% block body %}
            {% endblock  %}
    </body>

</html>