<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common Css -->
    <link rel="stylesheet" href="../static/mypage.css">
    <link rel="shortcut icon" href="../static/movie.ico">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>진심리뷰 마이페이지</title>

    <!-- Import Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <style>
        .color {
            color: black;
        }

        .font {
            font-weight: bold;
        }

        .fontsize {
            font-size: x-large;
            font-family: 'Black Han Sans', sans-serif;
        }
    </style>

    <script defer src="../static/java.js"></script>
    <script defer src="../static/review.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        /*네비게이션*/
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        /*댓글 저장하기*/
        const saveComment = () => {
            const id = document.getElementById("postingContainer").getAttribute("data-postingid");
            const message = document.getElementById("comment").value;
            $.ajax({
                type: "POST",
                url: "/api/add-comment",
                data: {
                    id : id,
                    message : message
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
            });
        }

        /*좋아요 수 표시*/
        const handleClickLike = () => {
            const id = document.getElementById("postingContainer").getAttribute("data-postingid");
            $.ajax({
                type: "POST",
                url: "/api/like",
                data: {
                    postingId: id
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
            });
        }

        const handleClickDislike = () => {
            // 현재 비디오의 id를 data attribute를 이용해서 가져오기
            const id = document.getElementById("postingContainer").getAttribute("data-postingid");
            $.ajax({
                type: "POST",
                url: "/api/dislike",
                data: {
                    postingId: id
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
            });
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="top-bar">
                <span class="nav" onclick="openNav()">&#x2b;</span>
                <div class="movie-logo">
                    <a class="logo" href="/main" style="cursor:auto">
                        <img src="../static/logo.png" alt="HanSon-movie">
                    </a>
                </div>
                <textarea id="search" type="text" class="form-control" placeholder="검색" aria-label="Default"></textarea>
                <div class="mypage">
                    <a href="/">마이페이지</a>
                </div>
                <div class="logout">
                    <a href="/">로그아웃</a>
                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/romence">로맨스</a>
                    <a href="/action">액션</a>
                    <a href="/ani">애니</a>
                    <a href="/thriller">스릴러</a>
                </div>
            </div>
        </header>
        <!-- End of Header -->

        <!-- Main Container -->
        {% set postingId = posting["_id"] %}
        <section class="main-container" id="postingContainer" data-postingid="{{postingId}}">
            <div class="inner">
                <div class="list-over">
                    <div class="list-grid">
                        <div class="card" id="card">
                        {% set url = posting["url"]%}
                        {% set imgUrl = posting["imageUrl"]%}
                        {% set title = posting["title"]%}
                        {% set description = posting["description"]%}
                        {% set like = posting["like"]%}
                        {% set dislike = posting["dislike"]%}

                            <a href="{{url}}">
                                <img
                                    src="{{imgUrl}}"></a>
                            <h1 class="cardtitle"><span>{{title}}</span></h1>
                            <p class="card-text">{{description}}</p>

                            <button type="button" class="btn1 btn1-default btn1-block btn1-custom"
                                style="margin-left: 250px" id="like" value="like" onclick="handleClickLike()">좋아요({{posting["like"]}})
                                <button type="button" class="btn1 btn1-default btn1-block btn1-custom"
                                    style="margin-left: 5px" id="unlike" value="unlike" onclick="handleClickDislike()">싫어요({{posting["dislike"]}})
                        </div>
                        <div class="controls">
                            <h1 class="comment"><span>댓글 작성하기</span></h1>
                            <form name="comment" action="/comment" method="GET">
                                <p><textarea cols="140" rows="5" id="comment" class="write"></textarea></p>
                                <button type="button" class="savebutton" value="posting" onclick="saveComment()">저장하기
                                </button>
                            </form>
                            <div id="comments">
                            {% for comment in posting["comments"]%}
                            {% set author = comment["author"]%}
                            {% set message = comment["message"]%}
                                <div class="commentContainer" id>
                                    <h1 class="comment-author">{{author}}</h1>
                                    <p>{{message}}</p>
                                <form>
                                </div>
                            {% endfor%}
                            </div>
                        </div>
                    </div>
                </div>
        </section>
</body>

</html>