<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>moviereview</title>
    <meta name="author" content="27조">
    <meta name="description" content="Check a review,Find fit your movie">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="moviereview">
    <meta property="og:title" content="Check a review,Find fit your movie">
    <meta property="og:description" content="moviereview site">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Optional JavaScript -->
    <link rel="icon" href="">
    <link rel="apple-touch-icon" href="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="../static/header.css">
</head>
<header>
    <div class="wrapper">
        <div class="body__container">
            <header class="section">
                     <div class="inner">
                        <div class="logo">
                            <a href="" style="cursor:auto">
                                <img src="../static/header.png" alt="logo"></a>
                                <input type="text" id="id" name="id" placeholder="검색" class="form-control"/>
                            <button type="button" class="join" value="Sign Up"
                                onclick="f()">회원가입
                            </button>
                            <button type="button" class="login" value="login"
                                onclick="f()">로그인</button>
                       </div>
                    </div>
                </div>
        </div>
    </div>
</header>

<body>


</body>

</html>