{% extends "blocks/base.html" %} {% block navbar %}
<span class="nav" onclick="openNav()">&#x2b;</span>
<div class="movie-logo">
  <a class="logo" href="/" style="cursor: auto">
    <img src="../static/logo.png" alt="moviereview" />
  </a>
</div>
<input type="text" id="id" name="id" placeholder="검색" class="form-control" />
<div class="login">
  {% if(isLoggedIn) %} {% set checkLogin = "로그아웃"%} {% else %} {% set
  checkLogin = "로그인"%} {% endif %}
  <a href="/login" id="checkLoggedIn">{{checkLogin}}</a>
  {% if(isLoggedIn) %}
  <div class="mypage">
    <a href="/">마이페이지</a>
  </div>
  {% endif %}
</div>
{% if(not isLoggedIn) %}
<div class="join">
  <a href="/join">회원가입</a>
</div>
{% endif %} {% endblock%} {% block anime%} {% for posting in postings %} {% if
("애니메이션" in posting["genres"]) %} {% set imgUrl = posting["imageUrl"]%} {%
set url = posting["url"]%}
<a href="/detail/{{posting['_id']}}"><img src="{{imgUrl}}" alt="" /></a>
{% endif %} {% endfor %}{% endblock%} {% block action %} {% for posting in
postings %} {% if ("액션" in posting["genres"]) %} {% set imgUrl =
posting["imageUrl"]%} {% set url = posting["url"]%}
<a href="/detail/{{posting['_id']}}"><img src="{{imgUrl}}" alt="" /></a>
{% endif %} {% endfor %}{% endblock%}
