<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>진심리뷰 마이페이지</title>


    <!-- Common Css -->
    <link rel="stylesheet" href="../static/mypage.css">
    <link rel="shortcut icon" href="../static/movie.ico">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Import Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <!-- Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <style>
        .color {
            color: black;
        }

        .font {
            font-weight: bold;
        }

        .fontsize {
            font-size: x-large;
            font-family: 'Black Han Sans', sans-serif;
        }

    </style>
    
    <script>
        window.onload = () => {
            logoutBtn = document.getElementById("logoutBtn");
            console.log(logoutBtn);
            logoutBtn.addEventListener("click", handleLogout);
        }
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        const handleUpload = () => {
            const url = document.getElementById("posting-url").value;
            console.log(url);
            $.ajax({
                type: "POST",
                url: "/api/url",
                data: {
                    url: url
                },
                success: function (response) {
                    console.log(response);
                    alert("포스팅 성공하였습니다.");
                    location.reload();
                },
            });
        }

        const handleDeletePosting = () => {
            $.ajax({
                type: "POST",
                url: "/api/delete",
                data: {
                    postingId: postingId
                },
                success: function (response) {
                    console.log(response);
                },
            });
        }

        const handleLogout = (e) => {
            e.preventDefault();
            $.removeCookie("mytoken", { path : '/'});
            $.ajax({
                type: "POST",
                url: "/api/logout",
                data: {},
                success: function (response) {
                    if(response["result"] == "success") {
                        alert('로그아웃 되었습니다!');
                        location.reload(); 
                    }
                    else {
                        alert("로그아웃 실패");
                    }
                },
            });
        }
    </script>
</head>

<body>
<div class="wrapper">
    <header>
        <div class="top-bar">
            <span class="nav" onclick="openNav()">&#x2b;</span>
            <div class="movie-logo">
                <a class="logo" href="/" style="cursor:auto">
                    <img src="../static/movie.png" alt="HanSon-movie">
                </a>
            </div>
            <div class="mypage">
                <a href="" id="logoutBtn">로그아웃</a>
            </div>
            
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/romence">로맨스</a>
                <a href="/action">액션</a>
                <a href="/ani">애니</a>
                <a href="/thriller">스릴러</a>
            </div>
        </div>
    </header>
    <!-- End of Header -->

    <!-- Main Container -->
    <section class="main-container">

        <div class="post-box">
            <div class="controls">
                <h1 class="url"><span>URL</span></h1>
                <form name="login" action="/login" method="GET">
                    <input type="text" id="posting-url" name="id2" placeholder="Posting" class="posttext"/>
                    <button type="button" class="btn btn-default btn-block btn-custom"
                            value="posting" onclick="handleUpload()">포스팅하기
                    </button>
                </form>
            </div>
        </div>
        <div class="inner">
            <div class="list-over">
                <div class="list-grid">
                    {% for posting in myPostings %}
                    {% set imgSrc = posting["imageUrl"] %}
                    {% set title = posting["title"] %}
                    {% set description =  posting["description"] %}
                    {% set postingId = posting["_id"] %}
                    <div class="card" data-postingid="{{postingId}}">
                        <a href="">
                            <img src="{{imgSrc}}"></a>
                        <h1 class="cardtitle"><span>{{title}}</span></h1>
                        <p class="card-text">{{description}}</p>
                    </div>
                    {% endfor%}
                </div>
            </div>
    </section>


</body>
</html>